<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50) %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.images.attached? %>
      <% micropost.images.attachments.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [500, 500]) %>
      <% end %>
    <% elsif micropost.audios.attached? %>
      <% micropost.audios.attachments.each do |audio| %>
        <%= audio_tag rails_blob_url(audio), controls: true %>
      <% end %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
